<%- include('./layout/header'); -%>
  <main>
    <div class="container">
      <%- include('./layout/messages');%>

        <div class="card bg-light" id="signup">
          <article class="card-body mx-auto">
            <h4 class="card-title mt-3 text-center">Reset password</h4>
            <p class="text-center">Enter your email address.</p>

            <form action="/resetpassword" autocomplete="off" method="POST">

              <div class="form-group input-group">
                
                <input name="email"
                  class="form-control <%=locals.errors && errors.includes('email') ? 'is-invalid' : ''%>"
                  placeholder="E-Mail" type="text" value="<%=locals.data && data.email ? data.email : '' %>">
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Reset password</button>
              </div>

            </form>
          </article>
        </div>
    </div>
  </main>
  <%- include('./layout/footer'); -%>